.Center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .cubic {
    background-color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .connect {
    display: block;
    width: 349px; 
    height: 512px;
    margin-left: auto;
    margin-right: auto;
  
}