.Center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    outline:none;
  }
  .cubic {
    background-color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .connect {
    display: block;
    width: 349px; 
    height: 512px;
    margin-left: auto;
    margin-right: auto;
  }
  .escape {
    display: block;
    width: 413px; 
    height: 516px;
    margin-left: auto;
    margin-right: auto;
  }
  .dali {
    background-color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 413px; 
    height: 516px;
  }
  .compareSlider {

    background-color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;

  }
  .tessellation {
    transform :scale(0.5);
    background-color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;

  }